
header{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
header h3{
   line-height: 40px;
   font-size: 23px;  
}
body{
    background-image: url(https://i.pinimg.com/originals/9d/43/9f/9d439f6476ea633d9ad1d03fb156e291.gif);
    color: white;
}
.contenido{   
    display: flex;
    padding: 15px;
}
.contenido .controlador{
    width: 80%;
}

.botones{
width: 140px;
height: 140px;
border-radius: 50%;
background: rgba(0, 0, 0, 0.541);
display: flex;
flex-wrap: wrap;
text-align: center;
margin-top: 370px;
border: .2px solid white;

}

.botones button{
  margin: 6px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.356);
  color:white;
  font-size: 22px;

}
footer{
margin: auto;
text-align: center;
font-size: 22px;
}

#perdiste{
background-image: url(https://i.gifer.com/Iq2Y.gif); 
background-repeat: no-repeat;
background-size: cover;
margin: 0px auto;
width: 900px;
height: 400px;

}

#bienvenida{

width: 700px;
height: 500px;   
margin-top: 50px;
display: flex;
flex-wrap: nowrap;
padding: 10px;
margin: 0px auto;


}

.about{
width: 40%;
text-align: center;
font-size: 20px;
line-height: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}     